<h1>All Posts</h1>
<a href="/posts/new">Create New Post</a>
<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post[:id] %>"><%= post[:title] %></a>
      <%= link_to 'Delete', posts_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>

    </li>
  <% end %>
</ul>
